
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 102, 0);
    border-bottom: 1px solid #ccc;
    gap: 20px;
}

.logo-container {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    display: flex;
    gap: 8px;
}

.logo {
    width: 18px;
    height: 18px;
    outline: 1px solid #fff;
}

.nav-links {
    display: flex;
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 10pt;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}